.card {
    display: flex;
    justify-content: space-between;
    // align-self: flex-end;
    // flex-direction: row-reverse;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;

    &__right {
        border-radius: 5px;
        background-color: rgb(234, 233, 233);
    }

    &__text {
        padding: 10px 20px;
    }
}

.base__avatar {
    width: 25px;
    height: 25px;
}