.card {
    display: flex;
    gap: 40px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;

    &__right {
        border-radius: 5px;
        background-color: rgb(234, 233, 233);
    }

    &__text {
        padding: 10px 20px;
    }
}

.card__owner {
    display: flex;
    align-self: flex-end;
    flex-direction: row-reverse;
    gap: 40px;
    width: 100%;
    max-width: 400px;
    margin: 0px 10px 10px 0px;
}


.base__avatar {
    width: 25px;
    height: 25px;
}