.card {
    height: 320px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0.14px 2.29266px rgba(0,0,0,.032), 0 0.37px 4.42626px rgba(0,0,0,.048), 0 3px 7px rgba(0,0,0,.09);
    margin: 5px;
    &__img {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        width: 100%;
        height: 237px;
        cursor: pointer;
    }
}

.content {
    display: flex;
    align-items: center;
    padding: 14px;

    &__img {
        margin-right: 20px;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 5px;
    }

    &__author {
        font-size: 14px;
        color: gray;
    }
}