@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 20px;
}

.toggleScroll {
  overflow-y: hidden;
}

.starIcon {
  color: rgb(232, 209, 77);
}