.swiper-button-prev::after {
    position: absolute !important;
    left: 0px !important;
    font-size: 22px !important;
    font-weight: 700;
    padding: 12px 20px 12px 18px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
}

.swiper-button-next::after {
    position: absolute !important;
    right: 0px !important;
    font-size: 22px !important;
    font-weight: 700;
    padding: 12px 18px 12px 20px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
} 



