.card {
    position: relative;
    // height: 100%;
    height: 342px;
    background-color: rgb(235, 235, 235);
}

.content {
    position: absolute;
    padding: 20px;
    color: #fff;
    z-index: 10;
    cursor: pointer;
}

.text {
    margin-bottom: 5px;
}

.title {
    font-size: 22px;
}

.img {
    width: 100%;
    // height: 342px;
    height: 100%;
    transition: all .3s ease;

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}

