.card {
    position: fixed;
    right: 20px;
    // left: 0;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid rgb(228, 228, 228);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.desc {
    margin-bottom: 20px;
}

.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 20px;
}

@media screen and (max-width: 850px) {
    .card {
        position: static;
        width: 100%;
        max-width: none;
        margin-bottom: 20px;
    }
}