.card {
    padding-top: 120px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(229, 254, 242);
}

.item {
    // display: inline-block;
    text-overflow: ellipsis;
    overflow-x: hidden;    
    width: 100px;
    padding: 15px 5px;
    // text-align: center;

}

@media (max-width: 767px) {
    // .table{
    //     display: block;
    //     width: 100%;
    // }
}