.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    background: transparent;
    border: 0;
    outline: none;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
    }
}

.white {
    border: 1px solid #fff;
    transition: all .3s ease;

    &:hover {
        background-color: #1dbf73;
        border: 1px solid transparent;
    }
}

.green {
    background-color: #1dbf73;
    transition: all .3s ease;

    &:hover {
        background-color: #26a86b;   
    }
}

.gray {
    color: #000;
    background-color: transparent;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 5px;
    transition: all .3s ease;

    &:hover {
        color: #fff;
        background-color: rgb(155, 155, 155);   
    }
}